*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}
.first{
    width: 100%;
    height: 100%;
   background-color: wheat;
}
.firstWrapper{
    width: 100%;
    height: 100%;
    background-color: white;   
}

.pikin1{
    width: 200px;
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.form{
    width: 100%;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.theform{
    width: 480px;
    height: 90%;
    background-color:white;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.formWrapper{
    width: 400px;
    height: 90%;
    /* background-color: blue; */
}
.sign{
    color: black;
    font-weight: bolder;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}
input{
    width: 380px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid grey;
   
   

}
::placeholder{
     padding: 8px;
}
.or{
    font-size: 16px;
    color: gray;
}
.pss{
    color: white;
    text-decoration: underline;
    font-family: sans-serif;
}
.signA{
     width: 380px;
    height: 40px;
    background-color: slategray;
    border-radius: 7px;
    color:white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.signB{
     width: 380px;
    height: 40px;
    background-color: slategray;
    border-radius: 7px;
    color:white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.check{
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.356);;
}



.section2{
    width: 100%;
    height: 40%;
    background-color: gray;
}
@media  screen  and (min-width:320px) and (max-width:767px) {
    .firstWrapper{
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .theform{
        border-radius: 0;
        
    }
  .formWrapper{
    width: 380px;
  }
  input{
    width: 350px;
  }
  .signA{
    width: 350px;
  }
  .signB{
    width: 340px;
  }
  .sign{
    margin-left: 13px;
  }
}
